<style>
  :root {
    --dg-content-max-width: 60% !important;
  }

  .content, .markdown-preview-view, .content-wrapper, .main-container {
    max-width: 60% !important;
    width: 100% !important;
  }
</style>
